[submodule "refer_python3"]
	path = pyutils/refer_python3
	url = https://github.com/crmauceri/refer_python3.git
[submodule "cocoapi"]
	path = pyutils/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
[submodule "pyutils/MaskRCNN"]
	path = pyutils/MaskRCNN/MaskRCNN
	url = https://github.com/crmauceri/pytorch-mask-rcnn-depth.git
[submodule "pyutils/DepthAwareCNN"]
	path = pyutils/DepthAwareCNN/DepthAwareCNN
	url = https://github.com/crmauceri/DepthAwareCNN.git
[submodule "pyutils/coco"]
	path = pyutils/coco
	url = https://github.com/crmauceri/coco.git
[submodule "pyutils/refer_python3/refer_sunspot"]
	path = pyutils/refer_python3/refer
	url = https://github.com/crmauceri/refer_sunspot.git
