[submodule "pyutils/cocoapi"]
	path = pyutils/cocoapi
	url = https://github.com/cocodataset/cocoapi.git
[submodule "pyutils/DepthAwareCNN"]
	path = pyutils/DepthAwareCNN/DepthAwareCNN
	url = https://github.com/crmauceri/DepthAwareCNN.git
[submodule "pyutils/refer_python3/refer_sunspot"]
	path = pyutils/refer_python3/refer
	url = https://github.com/crmauceri/refer_sunspot.git
[submodule "pyutils/maskrcnn-benchmark"]
	path = pyutils/maskrcnn-benchmark
	url = https://github.com/crmauceri/maskrcnn-benchmark.git
